
.flightdata {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 300px;
    padding: 15px 15px 40px;
    background: rgba( 255, 255, 255, 0.95 );
    box-shadow: 3px 3px 5px rgba( 0, 50, 0, 0.33 );
    box-sizing: border-box;
    z-index: 1;
}
.flightdata .flightinfo-container {
    overflow: hidden;
}
.flightdata .flightinfo-container .flightinfo {
    float: left;
    width: 180px;
}
.flightdata .flightinfo-container .flightimage {
    float: right;
    width: 85px;
    height: 53px;
    padding: 2px;
    background: #DDD;
    text-align: center;
}
.flightdata .flightinfo-container .flightimage img {
    height: 100%;
    object-fit: cover;
}
.flightdata .flightinfo-container .flightinfo .airline,
.flightdata .flightinfo-container .flightinfo .model,
.flightdata .count {
    margin: 0;
    font-size: 12px;
}
.flightdata .origin,
.flightdata .destination {
    overflow: hidden;
}
.flightdata .origin p,
.flightdata .destination p {
    float: left;
    width: 50%;
    font-size: 12px;
}
.flightdata .origin p:last-of-type,
.flightdata .destination p {
    float: right;
    text-align: right;
}
.flightdata .destination p {
    width: 100%;
}
.flightdata .graph {
    width: 100%;
    height: 3px;
    margin: 0 0 5px;
    background: #00F;
}
.flightdata .graph .distance {
    display: inherit;
    height: 3px;
    background: #F00;
}
.flightdata p {
    margin: 0 0 5px;
}
.flightdata .count {
    margin: 0;
}

@media only screen and (max-width: 420px ) {
    .flightdata {
        left: 0;
        right: 0;
        width: 100%;
    }
}
