
.flightdata {
    position: absolute;
    left: 25px;
    bottom: 50px;
    width: 250px;
    padding: 25px;
    background: #F2F2F2;
    box-shadow: 3px 3px 5px rgba( 0, 50, 0, 0.33 );
}
.flightdata .airline,
.flightdata .model,
.flightdata .count {
    font-size: 12px;
}
.flightdata .origin,
.flightdata .destination {
    overflow: hidden;
}
.flightdata .origin p,
.flightdata .destination p {
    float: left;
    width: 50%;
    font-size: 12px;
}
.flightdata .origin p:last-of-type,
.flightdata .destination p {
    float: right;
    text-align: right;
}
.flightdata .destination p {
    width: 100%;
}
.flightdata .graph {
    width: 100%;
    height: 3px;
    margin: 0 0 5px;
    background: #D7D7D7;
}
.flightdata .graph .distance {
    display: inherit;
    height: 3px;
    background: #FFFB00;
}
.flightdata p {
    margin: 0 0 5px;
}
.flightdata .count {
    margin: 0;
}
